<a routerLink="/runs/{{this.record.primaryCategoryID}}" routerLinkActive="current">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title" matTooltip={{record.game.gameTitle}}>{{record.game.gameTitle}}</mat-card-title>
      <mat-card-subtitle class="sub-title" matTooltip={{record.categoryName}}>{{record.categoryName}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image
      class="movie-image"
      src={{imgSrc}}
      (error)="onImageLoadingError()"
      >

    <mat-card-content class="timer">
      {{this.record.bestTime | timer}}
    </mat-card-content>
    <mat-card-footer class="footer" matTooltip="Verify Date by Speedrun.com">
      {{this.record.bestVerifyDate | date:'yyyy.MM.dd hh:mm:ss'}}
    </mat-card-footer>
  </mat-card>
</a>
