.base {
  background-color: white;
}
.header {
  width: 100%;
}

.comment {
  padding-left: 10px;
  padding-top: 10px;

  font-size: 14px;
  line-height: 21px;
}
// Disabledのときに、見た目を変化させない
::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0,0,0,.87);
}


// 拡張ボタン周り
.expand_button_div {
  margin-top: -2px;
  text-align: center;
}
.expand_button {
  width: 100%;
  background-color: rgba(255,255,255,1);
  // border:  1px solid rgba(0,0,0,.5);
}
