.card {
  margin: 10px;
  padding: 10px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.sub-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.time {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 45px;
  align-items: center;
  text-align: center;

  /* Red */

  color: rgb(182, 235, 102);

  /* Gray 1 */
  text-shadow:1px 1px 0 #333333,-1px 1px 0 #333333,1px -1px 0 #333333,-1px -1px 0 #333333;
}

.game-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
