<mat-card class="card" (click)="openVideo()">
  <mat-card-header>
    <mat-card-title class="title" matTooltip={{record.game.gameTitle}}>{{record.game.gameTitle}}</mat-card-title>
    <mat-card-subtitle class="sub-title" matTooltip={{record.categoryName}}>{{record.categoryName}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
    src={{getThumbnailUrl()}}
    onerror="this.src='https://3.bp.blogspot.com/-BTScko60ueE/XLAdppll-XI/AAAAAAABSaQ/BLwBgeXsXAcoZEZjeGL15CzMhSgrtue6gCLcBGAs/s800/video_frame_169.png'"
    matTooltip={{record.bestVideoLink}}
    >

  <mat-card-content>
    Time: {{this.record.bestTime | timer}}
  </mat-card-content>
</mat-card>
