.user-row {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;

  margin: 0px 5px;
  padding: 5px 0px;
}
.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.player-name {
  padding-left: 10px;
}

.comment {
  padding: 1em 0px;
}
