<div fxLayout="row">
  <div fxFlex="100" fxFlexFill class="contents">
    <div [ngSwitch]="this.getVideoHost()">
      <div *ngSwitchCase="'Youtube'">
        <youtube-player src={{this.getVideoId()}}></youtube-player>
      </div>
      <div *ngSwitchCase="'Twitch'">
        <twitch-player src={{this.getVideoId()}}></twitch-player>
      </div>
      <div *ngSwitchDefault>
        {{this.record.bestVideoLink}}
      </div>
    </div>

    <video-detail-overview [record]="this.record"></video-detail-overview>

    <button mat-raised-button (click)="goBack()">
      <mat-icon>arrow_back_ios</mat-icon>
      Back
    </button>

  </div>

  <div fxFlex="480px" fxFlexFill>
    <video-detail-information [record]="this.record"></video-detail-information>
  </div>

</div>

