<div fxLayout="row">
  <div fxFlex="100" fxFlexFill class="main-column">

    <root-player bestVideoLink={{this.record.bestVideoLink}}></root-player>

    <video-detail-overview [record]="this.record"></video-detail-overview>

    <button mat-raised-button (click)="goBack()">
      <mat-icon>arrow_back_ios</mat-icon>
      Back
    </button>

  </div>

  <div fxFlex="400px" fxFlexFill class="side-column">
    <video-detail-information [record]="this.record"></video-detail-information>
  </div>

</div>

